a {
  color: #272C2B;
  text-decoration: underline;
}
a:hover {
  color: #0E6251;
}

.blogEntryContent {
  height: 150px;
  resize: block;
  overflow: scroll;
}

.bio {
  height:
}

.blogTagID {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.jumbotron {
  margin-top: 20px;
  background-color: #ffeead;
  font-family: 'Comfortaa', cursive;
}

#landingPage {
  display: none;
}

/*#newBlogEntry {
  display: none;
}*/
/*#mainblog {
  display: none;
}*/

.allBlogEntries {
  display: none;
}

body {
  background: url(../img/white-background1.jpg);
}
#siteName{
  font-size: 3em;
  min-height: 20%;
  width: 100%;
  background-color: rgb(0,0,0);
  opacity: 0.9;
  text-align: center;
  margin-bottom: 5%;
}
.floatLeft {
  float: left;
}
.highlight {
  color: #0E6251;
}

#mainblog h1 {
  margin:  0 0 40px 0;
}

#userRegister, #mainblog {
  background:rgba(255,255,255, 0.7);
  padding: 5%;
}
#userRegister h1, #mainblog h1 {
  font-size: 4em;
  font-weight: 300;
  text-align: center;
}
#userRegister input, #userRegister textarea {
  width: 90%;
}
#submitProfile, #submitBlogEntry {
  display: block;
  margin: 0 auto;
  margin: 0 auto;
  width: 100px;
  background: rgb(0,0,0);
  color: white;
}
#submitProfile:hover, #submitBlogEntry:hover{
  background: #0E6251;
}
.btn-primary {
  background: #0E6251;
}
.btn-primary:hover {
  background: #0B4C40;
  color: white;
}

/* Sidebar styling */

#userSidebar {
  background: rgba(14, 98, 81, 0.2);
  height: 400px;
  overflow: auto;
  margin: 25px 0 0 0;
  border-radius: 10px
}

.avatarImg img {
  border-radius: 50%;
  border: 1px solid;
}

.allBlogEntries img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid;
}
