.blogEntryContent {
  height: 150px;
  resize: block;
  overflow: scroll;
}

.bio {
  height:
}

.blogTagID {
  cursor: pointer;
  color: blue;
  text-decoration: underline;
}

.jumbotron {
  margin-top: 20px;
  background-color: #ffeead;
  font-family: 'Comfortaa', cursive;
}

/*#landingPage {
  display: none;
}*/

#newBlogEntry {
  display: none;
}
#mainblog {
  display: none;
}

/*.allBlogEntries {
  display: none;
}*/

body {
  background-color: #c1d4f2;
}

#userRegister h1 {
  font-size: 5em;
  font-weight: 300;
}


/* Sidebar styling */

.avatarImg img {
  border-radius: 50%;
  border: 1px solid;
}

.allBlogEntries img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid;
}
