body {
  background: black;
  font-family: 'Raleway', sans-serif;
}
.floatLeft {
  float: left;
}
.highlight {
  color: #0E6251;
}
#siteName{
  height: 220px;
  background-color: black;
  margin-top: 125px;
  padding-top: 50px;
  position: relative;
  z-index: -2;
  margin-left: 1%; /* pushes siteName farther to the right */
}

#siteName h1 {
    font-size: 80px;
    color: white;
    text-align: center;
    font-family: 'Poiret One', cursive;
}

#titleImage {
  float: left;
  margin-top: 30px;
  margin-left: 10%; /* pushes title image farther to the right*/
  /*margin-bottom: 400px;*/
  position: absolute;
  max-width: 90%;
  z-index: -1;
}

#userRegister, #mainblog {
  width: 100%;
  background:rgba(255,255,255, 0.7); /*changes background color*/
  padding: 5%;
}
#userRegister h1, #mainblog h1 {
  font-size: 3em;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Poiret One', cursive;

}
#userRegister input, #userRegister textarea {
  width: 90%;
  max-width: 90%;
  max-height: 100%;
}

#userRegister textarea {
  height: 110px;
}

#submitProfile, #submitBlogEntry {
  display: block;
  margin: 0 auto;
  margin: 0 auto;
  width: 100px;
  background: rgb(0,0,0);
  color: white;
}
#submitProfile:hover, #submitBlogEntry:hover{
  background: #0E6251;
}
.btn-primary {
  background: #0E6251;
}
.btn-primary:hover {
  background: #0B4C40;
  color: white;
}

.btn-danger {
  background-color: black;
  border-color: black;
}

.btn-danger:hover, .btn-danger:focus, .btn-danger:active:hover {
   background: #0B4C40;
   color: white;
   border-color: #0B4C40;
 }

/*////////////////////////////////// landingPage stying ////////////////////////////////*/
#landingPage, #mainblog {
  margin-top: 30%;
}
/*////////////////////////////////// newBlogEntry stying ////////////////////////////////*/

#newBlogEntry {
  display: none;
}
.clickable {
  color: #272C2B;
  text-decoration: underline;
}
.clickable:hover {
  color: #0E6251;
}
/*////////////////////////////////// mainblog stying ////////////////////////////////*/

#mainblog {
  display: none;
}
#mainblog h1 {
  margin:  0 0 40px 0;
}
.blogTitleDiv {
  width: 100%;
  border-bottom: 1px solid black;
  margin-bottom: 5%;
}
.allBlogEntries {
  overflow: auto;
  height: 700px;
  /*display: none;*/
}
a {
  color: white;
  text-decoration: underline;
  letter-spacing: 0.05em;
}
a:hover {
  color:
}
.blogTagID {
  color: #272C2B;
  text-decoration: underline;
}
.blogTagID:hover {
  color: #0E6251;
}

.blogEntryContent {
  height: 150px;
  resize: block;
  overflow: scroll;
}

.blogTagID {
  cursor: pointer;
}
.allBlogEntries img {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.allBlogEntries iframe {
display: block;
margin: 0 auto;
margin: 0 auto;
}

.centerVid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

/*////////////////////////////////// sidebar stying ////////////////////////////////*/

#userSidebar {
  background: rgba(0, 0, 0, 0.6);
  padding: 2%;
  height: 700px;
  /*overflow: auto;*/
  color: white;
}
#userSidebar h3 {
  text-align: center;
  text-transform: uppercase;
}
#scrollingLinks {
  overflow: auto;
  height: 100px;
}
.alignButtons {
  margin-top: 5%;
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.alignButtons button {
  border-radius: 0%;
  margin: 2%;
  width: 40%;
}

#doneEntryButton {
  display: none;
}

.avatarImg img {
  border-radius: 50%;
  margin-bottom: 7%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
  height: 150px;
  width: 150px;
  object-fit: cover;
}
.limitBioHeight {
  height: 150px;
  max-width: 100%;
  overflow: auto;
}
.center {
  text-align: center;
}
.bottom-border {
  border-bottom: 1px solid white;
  padding-bottom: 5%;
}
.xIcon img{
  width: 10px;
  margin-left: 2%;
  display: none;
}

.timeCodes {
  text-align: center;
  font-size: 18px;
  font-weight: bolder;
}
